* {
  font-family: 'Courier New', Courier, monospace;
  color: #B5C5D3;
}

body{
  background-color: #090D11;
}
  
.main {
  width: 70%;
  margin: 0 auto;
}

.titel-position {
  left: 0rem;
  top: 0rem;
  bottom: 0rem;
  margin-left: 4rem;
}

.flex-row {
  display: flex;
}

.box {
  background-color: #11171D;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.schmal {
  width: 48%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.box-kombination {
  display: flex;
  justify-content: space-between;
}

.icon {
  height: auto;
  width: 2rem;
}

#banner {
  height: 6rem;
  width: 100%;
  object-fit: cover;
}

#apod {
  max-height: 30rem;
  width: auto;
  object-fit: contain;
}
  
#apod-bildbeschreibung {
  letter-spacing: 0px;
  line-height: 20px;
}

.ueberschrift-farbe {
  color: #5E7F9C;
}

.relative {
  position: relative;
}
  
.absolute {
  position: absolute;
}

.font-2 {
  font-size: 2rem;
}

.font-2-5 {
  font-size: 2.5rem;
}

.font-3 {
  font-size: 3rem;
}

.font-4 {
  font-size: 4rem;
}