* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  color: #DFE6E9;
  overflow-wrap: break-word;
}

body{
  background-color: #000A12;
}
  
.main {
  width: 70%;
  margin: 0 auto;
}

.titel-position {
  display: flex;
  align-items: center;
  top: 0rem;
  bottom: 0rem;
  margin-left: 4rem;
}

.section-box {
  background-color: #263238;
  margin-bottom: 2rem;
  padding: 1.5rem;
}

.schmale-box {
  width: 48%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.single-info-box {
  background-color: #3D5059;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.wolke-und-ereignis {
  min-height: 14rem;
}

.asteriod-info {
  min-width: 20rem;
  min-height: 8rem;
  font-size: 1.2rem;
}

.icon {
  height: auto;
  width: 4rem;
}

.icon-tiny {
  height: auto;
  width: 3rem;
}

.cloud {
  height: auto;
  width: 10rem;
}

.banner {
  height: 6rem;
  width: 100%;
  object-fit: cover;
}

.apod {
  max-height: auto;
  width: 100%;
  object-fit: contain;
}
  
.apod-info {
  letter-spacing: 0px;
  line-height: 20px;
  text-align: justify;
}

.ueberschrift-farbe {
  color: #D89C1D;
}

.info {
  color: #D89C1D;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.relative {
  position: relative;
}
  
.absolute {
  position: absolute;
}

.font-1-5 {
  font-size: 1.5rem;
}

.font-2 {
  font-size: 2rem;
}

.font-2-5 {
  font-size: 2.5rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-right-0-5 {
  margin-right: 0.5rem;
}

.margin-right-2 {
  margin-right: 2rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-left-2 {
  margin-left: 2rem;
}